<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>
<html>

<body>
  <header>
    <a class="home" href="/">Voltar</a>
  </header>
  <main>
    <section class="detalhes.pks">
      <img class="img" src="<%=pokemon.Imagem%>" alt="">

      <br>Numero: <%=pokemon.Numero%>

    </section>
    <section>
      <br>Descricao: <%=pokemon.Descricao%>
        <br>Altura: <%=pokemon.Altura%>
          <br>Peso: <%=pokemon.Peso%>
            <br>Categoria: <%=pokemon.Categoria%>
              <br>Habilidades: <%=pokemon.Habilidades%>
    </section>
  </main>
</body>

</html>